.ticket-form{
    width: 50%;
    margin: 50px auto;
    border: 2px solid gray;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(243, 243, 243);
}
.ticket-form input{
    /* display: block; */
    width: 50%;
    padding: 4px 10px;
    margin: 10px ;
    border-radius: 10px;
}

@media only screen and (max-width:668px) {
    .ticket-form{
        width: 90%;
    }
    .ticket-form input{
        width: 75%;
    }
}