.signin-form{
    text-align: center;
    border: 2px solid gray;
    width: 50%;
    margin: 50px auto;
    padding: 0 10px 30px;
    border-radius: 20px;
    background-color: rgb(175, 223, 203);
}
.signin-input{
    margin-bottom: 15px;
    padding: 8px 30px;
    border-radius: 8px;
}
.signin-btn{
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 8px 40px;
    background-color: gray;
    color: white;
    border: 0;
    border-radius: 7px;
    font-weight: 600;
}
.signin-btn:hover{
    background-color: peru;
}
.fa-google{
    color: rgb(219, 191, 30);
}

@media only screen and (max-width:668px){
    .signin-form{
        width: 80%;
    }
}