
h2{
    text-align: center;
    font-weight: 700;
    color: grey;
}
.tour-plans{
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px 50px;
}

@media only screen and (max-width:668px) {
    .tour-plans{
        width: 90%;
        grid-template-columns: 1fr;
    }
}